.payment-page-main-container {
	display: flex;
}
.payment-page-main-container .payment-page-product-img {
	width: 350px;
	margin-right: 20px;
}
.hide {
	display: none;
}

.ant-modal-content {
	border-radius: 20px;
}
.ant-modal-header {
	border-radius: 20px;
}
